body
{
  margin: 0;
}

.container{
  height: 100vh;
  perspective: 2px;
  overflow-x: hidden;
}

.row
{
  position: relative;
  height: 100vh;
}

.parallax
{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateZ(-1px) scale(1.55);
}

.static-background
{
  height: 55vh;
  background-color: #303030;
}

.first-background
{
  background-image: url('tlo.JPG');
  background-position: center;
}

.second-background
{
  background-image: url('tlo3.JPG');
  background-position: center;
}

img{
	width: 100px;
	display: none;
}

#text{
	font-size:20px;
	padding: 10px;

	color: white;
	display: inline-block;
	background-image: url('tlo3.JPG');

	}
	
#text:hover{
	color:red;
	background-image: url("donald.jpg");
}
